.registration-form {
  width: 500px;
  margin: 20px auto;
  padding: 50px;
  border: 1px solid #ccc;
  background-color: #f9f3c9;
  border-radius: 5px;
  border: 1px solid #000;
}

.registration-form h1 {
  text-align: center;
}
.registration-form form {
  display: flex;
  flex-direction: column;
}
.registration-form label {
  font-size: 16px;
  margin-bottom: 10px;
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"] {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  height: 33px;
  background-color: #f8e8a2;
  transition: background-color 0.4s ease;
}
.registration-form input[type="text"]:hover,
.registration-form input[type="email"]:hover,
.registration-form input[type="password"]:hover {
  border-color: #000;
  background-color: #ffc947;
}

.registration-form .error-message {
  color: red;
  margin-top: 5px;
}

.registration-form button {
  background-color: #000;
  color: #fff;
  padding: 10px 50px;
  margin: 20px auto;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.registration-form button:hover {
  background-color: #404040;
  color: #fff;
}

.registration-form p {
  text-align: center;
  margin-top: 10px;
}

.registration-form p a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.registration-form p a:hover {
  text-decoration: underline;
}
