.hero {
  margin: 10px 15px;
  text-align: justify;
}
.dr {
  width: 805px;
  margin: 20px 0px;
  font-family: "GT Walsheim Pro";
  font-size: 106px;
  background: linear-gradient(
    89.81deg,
    #9845e8 -1.72%,
    #33d2ff 54.05%,
    #dd5789 99.78%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.intro {
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
}
.img1 {
  width: 33px;
  height: 5px;
  margin-bottom: 4px;
  margin-left: 10px;
}

.DarkMode {
  background-color: #1f1e1e;
  color: #ffffff;
}
